---
layout: default
---

  <div class="main-content-wrap" tabindex="0">
    <div class="main-content js-main-content">
      <div class="page">
        {% unless page.url == "/" %}
          {% if page.parent %}
            <nav class="breadcrumb-nav">
              <ol class="breadcrumb-nav-list">
                {% if page.grand_parent %}
                  <li class="breadcrumb-nav-list-item"><a href="{{ first_level_url }}">{{ page.grand_parent }}</a></li>
                  <li class="breadcrumb-nav-list-item"><a href="{{ second_level_url }}">{{ page.parent }}</a></li>
                {% else %}
                  <li class="breadcrumb-nav-list-item"><a href="{{ first_level_url }}">{{ page.parent }}</a></li>
                {% endif %}
                <li class="breadcrumb-nav-list-item"><span>{{ page.title }}</span></li>
              </ol>
            </nav>
          {% endif %}
        {% endunless %}
        <div id="main-content" class="page-content" role="main">
          {% if site.heading_anchors != false %}
            {% include vendor/anchor_headings.html html=content beforeHeading="true" anchorBody="<svg viewBox=\"0 0 16 16\" aria-hidden=\"true\"><use xlink:href=\"#link\"></use></svg>" anchorClass="anchor-heading" %}
          {% else %}
            {{ content }}
          {% endif %}

      </div>
    </div>

<!-- {{content}} -->
